/* Reset css */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

div,
section,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
i {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    transition-duration: 0.7s;
}

ol,
ul {
    list-style-type: none;
}

a,
span,
i {
    display: inline-block;
    text-decoration: none;

}

/* Setup Css */

:root {
    --brand_color_deep: rgb(3, 102, 3);
    --brand_color_light: rgb(146, 189, 146);
    --gray: rgb(104, 103, 103); 
    --pg_color: rgb(56, 56, 56);
    --h1_font_size: 42px;
    --h2_font_size: 22px;
    --h3_font_size: 18px;
}

h1 {
    font-size: var(--h1_font_size);
}

h2 {
    font-size: var(--h2_font_size);
}

h3 {
    font-size: var(--h3_font_size);
}

/* Theme Css */

#theme_body {
    background-image: url(/assets/images/theme_bc_img.jpg);
    background-size: cover;
    background-position:top center;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

#theme_body .left_profile_info {
    /* border: 1px solid red; */
    padding: 40px 0 40px 40px;
    
}

header {
    background-color: rgba(72, 72, 97, 0.39);
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
}

#theme_body .right_site_content_wrapper {
    /* border: 1px solid red; */
    background-color: rgba(82, 105, 82, 0.322);
    padding: 40px 40px 40px 0px;
   
}

#theme_body .right_site_content_wrapper .right_site_contents{
    background-color: rgba(255, 255, 255, 0.575);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
    height: 100% ;
    display: flex;
}
.right_site_contents main {
    /* border: 1px solid red; */
    padding: 30px;
    flex: 1;
    height: calc(100vh - 145px);
    overflow-y: scroll;
}
/* SCROLLBER CSS */

/* width */
.right_site_contents main::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .right_site_contents main::-webkit-scrollbar-track {
    background: #f3eeec;
  }
  
  /* Handle */
  .right_site_contents main::-webkit-scrollbar-thumb {
    background:var(--brand_color_light);
    border-radius: 25px;
  }
  
  /* Handle on hover */
  .right_site_contents main::-webkit-scrollbar-thumb:hover {
    background:var(--brand_color_deep)
  }

.right_site_contents nav {
    /* border: 1px solid red; */
    width: 80px;
}

/* nav_bar_css */

nav ul li{
    text-align: center;
    margin: 30px 0px;
}

nav ul li a{}

nav ul li a i{
    color: var(--gray);
    font-size: 28px;
}

nav ul li a i:hover{
    color: var(--brand_color_deep);
}
    