.filter_list{
    margin-top: 60px;
    /* border: var(--border); */
}
.filter_list ul{
    display: flex;
    gap: 15px;
}
.filter_list .single_filter_item a{
    font-size: 13px;
    font-family: var(--Opensans);
    font-weight: 400;
    background-color: var(--transparent);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 25px;
}
.filter_list .single_filter_item :hover{
    background-color: var(--brand_color_light);
    color: var(--black);
    
}
.filter_list .single_filter_item a.active{
    background-color: var(--brand_color_light);
    color: var(--black);

}

.blog_list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    
}
.blog_list .single_blog_item{
     /* border: 1px solid var(--Counter); */
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.411);
    position: relative;
    overflow: hidden;
}
.blog_list .single_blog_item .top{
    overflow: hidden;
    position: relative;
}
.blog_list .single_blog_item .top:hover img{
    transform: scale(1.2);

}
.blog_list .single_blog_item .top img{
    width: 300px;
    transition-duration: 0.3s;

}

.blog_list .single_blog_item .bottom{
    padding: 0px 0px 20px 10px;
}
.blog_list .single_blog_item .top .tag{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--black);
    color: var(--brand_color_light);
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 5px;
    z-index: 99;
}
.blog_list .single_blog_item .bottom{
    padding-top: 20px;
}
.blog_list .single_blog_item .bottom p{
    font-size: 12px;
    color: var(--pg_color);
}
.blog_list .single_blog_item .bottom h3{
    margin-top: 10px;
    font-size: 15px;
    line-height: 15px;
    font-family: var(--Opensans);
    color: var(--brand_color_light);
}

.blog_list .single_blog_item .top:hover .overlay a{
   /* transform: scale(1); */
   opacity: 1;
   backdrop-filter: blur(2px);
   left: 0;
   /* left: 0; */
}
.blog_list .single_blog_item .top .overlay a{
    opacity: 0;
    /* transform: scale(0); */
    /* transition-duration: 0.5s; */
    background-color: rgba(0, 0, 0, 0.425);
    height: 100%;
    width: 100%;
    position: absolute;
    left:-100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog_list .single_blog_item:hover .overlay a i{
    opacity: 1;
    /* border: var(--border); */
}

.blog_list .single_blog_item .overlay a i {
    position: absolute;
    font-size: 27px;
    color: var(--brand_color_light);
    transition-delay: 0.2s;
    opacity: 0;

}

