

// COLOR 

$body_color: rgba(255, 0, 0, 0.212);
$bg_color_1: rgba(0, 128, 0, 0.397);
$bg_color_2: brown;
$bg_color_3: purple;
$bg_color_4: yellow;
$bg_color_5: blue;
$bg_color_6: rgb(0, 255, 106);

$border_1: rgb(1, 219, 1);
$border_2: rgb(0, 66, 165);
$border_3: rgb(165, 6, 72);

$icn_1: aquamarine;
$icn_2: rgb(153, 255, 127);
$icn_3: rgb(127, 193, 255);

// TEXT FONT 

$font_1: Arial;
$font_2: sans-serif;
$font_3: Times;
