body{
    background-image: url(../assets/images/basic_layout/theme_bc_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* .basic_layout{
    
} */

#theme_body {

    height: 100vh;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

#theme_body .left_profile_info {
    /* border: 1px solid red; */
    padding: 40px 0 40px 40px;
    
}

#theme_body .right_site_content_wrapper {
    /* border: 1px solid red; */
    background-color: rgba(82, 105, 82, 0.322);
    padding: 40px 40px 40px 0px;
   
}

#theme_body .right_site_content_wrapper .right_site_contents{
    background-color: var(--transparent);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
    height: 100% ;
    display: flex;
}
.right_site_contents main {
    /* border: 1px solid red; */
    padding: 30px;
    flex: 1;
    height: calc(100vh - 145px);
    overflow-y: scroll;
}




.right_site_contents nav {
    /* border: 1px solid red; */
    width: 80px;
}

.basic_layout .right_open_area{
    position: fixed;
    right: 0;
    top: 0;
    height:100vh ;
    width: calc(50vw - 650px);
    background-color: rgba(82, 105, 82, 0.322);
    /* border: var(--border); */

}
