/* nav_bar_css */

nav .left_profile_info{
    display: none;
}

/* nav ul {}; */

nav>ul li{
    text-align: center;
    margin: 30px 0px;
}

nav>ul li a span{
    display: none;
}

nav>ul li a i{
    color: var(--brand_color_light);
    font-size: 28px;
}

nav ul li a i:hover{
    color: var(--brand_color_deep);
}