/* Reset css */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

div,
section,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
i {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: unset;
    box-sizing: border-box;
    transition-duration: 0.7s;
}

ol,
ul,
li {
    list-style-type: none;
    text-decoration: none;
}

a,
span,
i {
    display: inline-block;
    text-decoration: none;

}

/* Setup Css */

:root {
    /* Google Fonts  */
    --Bruno: 'Bruno Ace SC', sans-serif;
    --Kolker: 'Kolker Brush', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --wave: "Audiowide", sans-serif;
    --sofia: "Sofia", sans-serif;
    --Monts_alt: 'Montserrat Alternates', sans-serif;
    --Opensans: 'Open Sans', sans-serif;
    
    /* Color  */
    --brand_color_deep: rgb(1, 148, 1);
    --brand_color_light: rgb(171, 218, 194);
    --gray: rgb(104, 103, 103); 
    --white: rgb(245, 245, 245);
    --black: rgb(17, 17, 17);
    --black_op: rgba(17, 17, 17, 0.589);
    --transparent: rgba(15, 15, 15, 0.384);
    --pg_color: rgb(199, 199, 199);
    --Counter: rgb(136, 136, 136);
    --h1_font_size: 42px;
    --h2_font_size: 22px;
    --h3_font_size: 18px;
    --border: 1px solid red;
}

h1 {
    font-size: var(--h1_font_size);
}

h2 {
    font-size: var(--h2_font_size);
}

h3 {
    font-size: var(--h3_font_size);
}